@use "../../styles/variables";


.footer {
  background-color: variables.$blue;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-info {
  color: aliceblue;
  width: 100%;
}

.social-media {
  display: flex;
  align-items: center;
  margin: auto;
  gap: 3rem;
  @media (min-width: 768px) {
    flex-direction: row;
  }
  .icon {
    width: 2.5rem;
    height: 2.5rem;
    color: variables.$white;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}


